#outer
{
    width:100%;
    text-align: center;
    margin-top: 3%;

}
.inner
{
    display: inline-block;
}
#forma{
    margin: 4%;
}
body {
    height: 100vh;
    background: radial-gradient(ellipse at bottom, #ce1f3c 0%, #092bc5 100%);  
    filter: drop-shadow(0 0 4px rgb(219, 215, 215));
}

h1{
    color: aliceblue;
    
}

label{
    color: aliceblue;
}

#success{
    font-size: 200%;
    animation-duration: 6s;
    animation-name: slidein;
    animation-iteration-count: inherit;
}
@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  table {
    
    background-color: black;
    color: aliceblue;
    border: 1px solid aliceblue;
    table-layout: fixed;
    width: 200px;
      
    
}
  
th,
td{
    border: 1px solid aliceblue;
    width: 206px;
    overflow: hidden;
    font-size: 20;
}

